<!DOCTYPE html>
<html lang="en">
<header>
    {{>header}}
</header>


<body style="margin: 0; padding: 0;">

    
        <ul id="cart-list">
            <li class="items"><button class="buttons"
                    onclick="window.open('shope-page&#47;background_textbox.html', '_blank');"
                    style="width: 200px; height: 300px; position: relative; left: 10%;top: 5%;  border-radius:10px; ">
                    <img src={{src}}
                        style="width: 200px; position: relative; right: 4%; bottom: 1%;  border-radius:10px;">
                </button>
                <span class="piece-name-cart">
                    {{name}}
                </span>
                <input type="checkbox" class="checkbox">
            </li>
            <li class="items"><button class="buttons"
                    onclick="window.open('shope-page&#47;background_textbox.html', '_blank');"
                    style="width: 200px; height: 300px; position: relative; left: 10%;top: 5%;  border-radius:10px; ">
                    <img src={{src}}
                        style="width: 200px; position: relative; right: 4%; bottom: 1%;  border-radius:10px;">
                </button>
                <span class="piece-name-cart">
                    {{name}}
                </span>
                <input type="checkbox" class="checkbox">
            </li>
            <li class="items"><button class="buttons"
                    onclick="window.open('shope-page&#47;background_textbox.html', '_blank');"
                    style="width: 200px; height: 300px; position: relative; left: 10%;top: 5%;  border-radius:10px; ">
                    <img src={{src}}
                        style="width: 200px; position: relative; right: 4%; bottom: 1%;  border-radius:10px;">
                </button>
                <span class="piece-name-cart">
                    {{name}}
                </span>
                <input type="checkbox" class="checkbox">
            </li>
        </ul>
    
</body>


</html>